* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset{
    padding: 2px 10px;
    width: fit-content;
    border-radius: 5px;
}

input {
    width: 20vw;
    height: 2vw;
    outline: none;
    border: none;
    border-radius: 5px;
}

form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    padding: 16px 0px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    cursor: pointer;
    transition: filter 0.2s linear;
}

button:hover {
    filter: brightness(110%);
}

button:active {
    filter: brightness(115%);
}